<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Breakfast</h5>
      <!-- First inner card -->
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{breakfast.title}}</h6>
          <p class="card-text">{{breakfast.description}}</p>
          <img src="{{breakfast.image}}" alt="Breakfast Picture">
        </div>
      </div>
      <!-- Second inner card -->
      <div class="card mt-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{breakfast.secondTitle}}</h6>
          <p class="card-text"><a href="{{breakfast.url}}">{{breakfast.linkLabel}}</a></p>
          <img src="{{breakfast.secondImage}}" alt="Second Breakfast Picture">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lunch</h5>
      <!-- First inner card -->
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{lunch.title}}</h6>
          <p class="card-text">{{lunch.description}}</p>
          <img src="{{lunch.image}}" alt="Lunch Picture">
        </div>
      </div>
      <!-- Second inner card -->
      <div class="card mt-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{lunch.secondTitle}}</h6>
          <p class="card-text"><a href="{{lunch.url}}">{{lunch.linkLabel}}</a></p>
          <img src="{{lunch.secondImage}}" alt="Second Lunch Picture">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Dinner</h5>
      <!-- First inner card -->
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{dinner.title}}</h6>
          <p class="card-text">{{dinner.description}}</p>
          <img src="{{dinner.image}}" alt="Dinner Picture">
        </div>
      </div>
      <!-- Second inner card -->
      <div class="card mt-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{dinner.secondTitle}}</h6>
          <p class="card-text"><a href="{{dinner.url}}">{{dinner.linkLabel}}</a></p>
          <img src="{{dinner.secondImage}}" alt="Second Dinner Picture">
        </div>
      </div>
    </div>
  </div>
</div>

